
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
  font-size: .875rem;
  background-color: #ECEFF1;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */

}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #8B6B61;
  fill: currentColor;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #8B6B61;
  fill: currentColor;
}
.sidebar a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #8B6B61;
  display: block;
  border: none;
  outline: none;
  background: #1B0000;
  width: 100%;
  text-align: left;
  fill: #8B6B61;
}
.dropdown-container {
  display: none;
  background-color: #1B0000;
  padding-left: 8px;
}

.sidebar .nav-link.active {
  color: #8B6B61;
  fill: currentColor;
  border: none;
  outline: none;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: #1B0000;
  box-shadow: inset -1px 0 0 #1B0000;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}


.pt-8{
  padding-top: 8rem !important;
}
.bg-coffee-dark{
  background-color: #1B0000;
}

.nav-list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80% !important;
    word-wrap: break-word;
    background-color: #fff;
    padding: .75rem 1rem;
    border-radius: 20px;
}
.icon-list{
  fill: #8B6B61;
}
.icon-badge-group .icon-badge-container {
    display: inline-block;
    margin-left:15px;
}

.icon-badge-group .icon-badge-container:first-child {
  margin-left:0;
}

.icon-badge-container {
    position:relative;
}

.icon-badge-icon {
    font-size: 30px;
    position: relative;
}

.icon-badge {
    background-color: red;
    font-size: 12px;
    color: white;
    text-align: center;
    width:20px;
    height:20px;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    left: 18px;
}
.text-teal{
  color: #196796;
}
.my-card-teal
{
    background-color: #B2EBF2;
    fill: #659398;
    position:absolute;
    left:40%;
    border-radius:50%;
}
.my-card-red
{
    background-color: #FFCDD2;
    fill: #AF4448;
    position:absolute;
    left:40%;
    border-radius:50%;
}
.my-card-red
{
    background-color: #FFCDD2;
    fill: #AF4448;
    position:absolute;
    border-radius:50%;
}
.my-card-update
{
    background-color: #B2EBF2;
    fill: #659398;
    border-radius:50%;

}
.card-product{
  background-color: #CDDDFC;
  fill: #6D96E5;
  border-radius:50%;
}
.card-sales{
  background-color: #A7FFEB;
  fill: #003D33;
  border-radius:50%;
}
.card-revenue{
  background-color: #FFCDD2;
  fill: #AF4448;
  border-radius:50%;
}
.card-cost{
  background-color: #AAFACF;
  fill: #0BA872;
  border-radius:50%;
}
.card-user{
  background-color: #D1C4E9;
  fill: #7E57C2;
  border-radius:50%;
}

.mt-5{
  margin-top: 4rem !important ;
}
.btn-github{
  fill: #757575;
  background-color: #CFD8DC;
  color: #757575;
}

.btn-union{
  fill: #196796;
  background-color: #64B5F6;
  color: #196796;
}
.bg-gray{
  background-color: #ECEFF1;
}
@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 3.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: 1;
}
.card-earning{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.earning-blue-light{
  background-color: #E3F2FD;
  color: #196796;
}
.earning-green-light{
  background-color: #C9FFF3;
  color: #196796;
}
.earning-purple-light{
  background-color: #D1C4E9;
  color: #7E57C2;
}
.earning-red-light{
  background-color: #FFCDD2;
  color: #AF4448;
}
.active{
  display: block;
  border-radius: 0.3rem;
  margin-left: 0.3rem;
  background-color: #55352F;
  width: 10rem;
}
.text-coffee-light{
  color: #8B6B61;
}
.dropdown-nav {
  float: left;
  overflow: hidden;
}

.dropdown-nav .dropbtn-nav {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-nabv-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-nav-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-nav-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 19rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 0.3rem;
}
.dropdown-content a{
  color: #616979;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f0f3ff;
  color: #5d78ff;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .drop {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f0f3ff;
  color: #5d78ff;
  border-radius: 0.25rem;
}
.drop:hover {
  background-color: #f0f3ff;
  color: #5d78ff;
  border-radius: 100rem;
}
.overflowAuto {
  overflow: auto;
}
