// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 54px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 60%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #7b341e;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}Î

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: 4px;
  margin-bottom: 4px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.icon-list{
  fill: #8B6B61;
}
.icon-badge-group .icon-badge-container {
    display: inline-block;
    margin-left:15px;
}

.icon-badge-group .icon-badge-container:first-child {
  margin-left:0;
}

.icon-badge-container {
    position:relative;
}

.icon-badge-icon {
    font-size: 30px;
    position: relative;
}

.icon-badge {
    background-color: #FF7D47;
    font-size: 12px;
    color: white;
    text-align: center;
    width:20px;
    height:20px;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    left: 18px;
}

// Background and Text Color
.bg-gray-100 {
  background-color: #F7FAFC;
}
.bg-orange-200 {
  background-color: #feebc8;
}
.bg-gray-300{
  background-color: #E2E8F0;
}
.bg-orange-800 {
  background-color: #9c4221;
}
.bg-orange-900 {
  background-color: #7b341e;
}

.text-orange-600 {
  color: #dd6b20;
}
.text-orange {
  color: #FF7D47;
}
.text-gray-600 {
  fill: #718096;
  color: #718096;
}
.text-orange-900 {
  color: #7b341e;
}
.text-orange-100{
  color: #8B6B61;
}
.radiotextsty {
  color: #A5A4BF;
  font-size: 18px;
}

.customradio {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.customradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 50%;
  border:1px solid #BEBEBE;
}

/* On mouse-over, add a grey background color */
.customradio:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.customradio input:checked ~ .checkmark {
  color: #FEEBC8;
  background-color: white;
  border:1px solid #BEBEBE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.customradio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.customradio .checkmark:after {
  color: #FEEBC8;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FEEBC8;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  border:5px solid #FEEBC8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  border:5px solid #FEEBC8;
  cursor: pointer;
}
.btn-outline-orange{

  background-color: transparent;
  border-color: #ED8936;
  color: #ED8936;
  fill: currentColor;
  align-items: center;
}
.text-orange-500{
  color: #ED8936;
}
.btn-orange-500{
  background-color: #FBD38D;
  color: #7B341E;
  fill: currentColor;
}
.btn-orange{
  background-color: #ED8936;
  color: #7B341E;
  fill: currentColor;
}

// pagination
.pagination .page-link:focus{
    box-shadow: none;
}
.pagination>.page-item>.page-link, .pagination>.page-item>span {
    border: 0;
    border-radius: 30px!important;
    transition: all .3s;
    padding: 0 11px !important;
    margin: 0 3px !important;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #999;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    background: 0 0;
    text-align: center;
}

.pagination>.page-item.active>a, .pagination>.page-item.active>a:focus, .pagination>.page-item.active>a:hover, .pagination>.page-item.active>span, .pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover {
    background-color: #FEEBC8;
    border-color: #FEEBC8;
    color: #7B341E;
    box-shadow: 0 4px 5px 0 rgba(123,53,30,.14), 0 1px 10px 0 rgba(123,53,30,.12), 0 2px 4px -1px rgba(123,53,30,.2);
}
.btn-rounded-full{
    display: block;
    font-weight: 400;
    border-color: #FBD38D;
    background-color: #FBD38D;
    color: #7B341E;
    fill: currentColor;
    text-align: center;
    user-select: none;
    padding: 0.25rem 0.5rem;
    border-radius: 100rem;
}
.pt-6{
  padding-top: 6rem !important;
}

#stepProgressBar  {
  display:  flex;
  justify-content:  space-between;
  align-items:  flex-end;
  width:  380px;
  margin:  0  auto;
  margin-bottom:  40px;
}

.step  {
  text-align:  center;
}

.bullet {
  border: 1px solid #707070;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 100%;
  color: #707070;
  fill: #707070;
  display: inline-block;
  position: relative;
  transition: background-color 500ms;
}


.bullet.completed  {
  fill: #7B341E;
  color: #7B341E;
  border-color: #FEEBC8;
  background-color:  #FEEBC8;
}



.bullet.completed::after {
  content: '';
  position: absolute;
  right: -60px;
  bottom: 10px;
  height: 1px;
  top:25px;
  width: 54px;
  background-color: #FEEBC8;
  fill: #7B341E;
  color: #7B341E;
}

/* Base styles and helper stuff */
.hidden  {
  display:  none;
}

button  {
  padding:  5px  10px;
  border:  1px  solid  black;
  transition:  250ms background-color;
}

button:hover  {
  cursor:  pointer;
  background-color:  black;
  color:  white;
}

button:disabled:hover  {
  opacity:  0.6;
  cursor:  not-allowed;
}

.text-center  {
  text-align:  center;
}
